/*Modified from Floating Facebook bubble at https://www.w3schools.com/howto/howto_css_sticky_social_bar.asp*/
.icon-bar {
    position: fixed;
    top: 85%;
    left: 85%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.icon-bar a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    display: block;
    position: absolute;
    transition: all 0.3s ease;
}


.menu {
    background: #e6e600;
    color: black;
    font-size: 40px;
    visibility: visible;
}

.menu i {
    position: relative;
    top: -4px;
}

.menu:hover {
    background: #000;
    color: black;
}

.icon-bar:hover .menu {
    padding: 80px;
    transform: translate(-75px, -75px);
    z-index: -1;
    background: transparent;
    color: transparent;
    border-radius: 0;
}


.facebook {
    background: #3B5998;
    color: white;
    font-size: 40px;
    visibility: hidden;
    opacity: 0;
}

.facebook:hover {
    background: #1d2b49;
    color: #b3b3b3;
}

.icon-bar:hover .facebook {
    visibility: visible;
    opacity: 1;
    transform: translateY(-55px);
}


.contact {
    background: #804000;
    color: #c8a64d;
    font-size: 40px;
    visibility: hidden;
    opacity: 0;
}

.contact:hover {
    background: #331a00;
    color: #755e24;
}

.contact i {
    position: relative;
    top: -4px;
    left: -2.5px;
}

.icon-bar:hover .contact {
    visibility: visible;
    opacity: 1;
    transform: translate(-55px, -55px);
}


.google {
    /*modified from https://stackoverflow.com/a/52582440/12861567*/
    background: conic-gradient(from -45deg, #ea4335 100deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 70% 50%/150% 150% no-repeat;
    color: white;
    font-size: 40px;
    visibility: hidden;
    opacity: 0;
}

.google:hover {
    background: conic-gradient(from -45deg, #5c110a 100deg, #062860 90deg 180deg, #184e26 180deg 270deg, #644c02 270deg) 70% 50%/150% 150% no-repeat;
    color: #b3b3b3;
}

.google i {
    position: relative;
    top: -4px;
}

.icon-bar:hover .google {
    visibility: visible;
    opacity: 1;
    transform: translateX(-55px);
}